@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'DREAM PLANNER';
  src: url('/fonts/dreamplanner.woff2') format('woff2'),
       url('/fonts/dreamplanner.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

@theme {
  --animate-fish-swim-1: fish-swim 64s linear infinite;
  --animate-fish-swim-2: fish-swim 70s linear infinite;
  --animate-cloud-float-right: float-left-right 20s ease-in-out alternate infinite;

  @keyframes fish-swim {
    0%        { transform: translateX(0px) scaleX(1); }
    49.9999%  { transform: translateX(-50vw) scaleX(1); }
    50%       { transform: translateX(-50vw) scaleX(-1); }
    100%      { transform: translateX(0px) scaleX(-1); }
  }

  @keyframes float-left-right {
    0% { transform: translateX(-5vw); }
    100% { transform: translateX(0vw); }
  }
}
